body,div,p,h1,h2,span,ul,li,i{margin: 0; padding: 0}
body{
    background-color: #f4f4f4
}
a{text-decoration: none; color: inherit;}
h1, h2{font-size: inherit;font-weight: normal;}
li{list-style: none;}
header{
    background-color: #ffffff;
    line-height: 70px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.userpanel{
    font-size: 18px;
    color: #999;
}
.login:hover{
    color: #333333;
}


.container{
    width: 800px;
    margin: 0 auto;
}

.blog-list{
    margin-top: 40px;
}
.blog-item{
    padding: 20px 40px;
    background-color: #ffffff;
    margin-bottom: 20px;
}


/*blog-item*/
.blog-title{
    font-size: 16px;
}
.blog-title:hover{
    text-decoration: underline;
}
.blog-sumary{
    font-size: 14px;
    color: #666666;
    padding: 10px 0;
}
.blog-username, .blog-newstime{
    font-size: 12px;
    color: #999;
}


footer{
    line-height: 70px;
    text-align: center;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}