<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
</head>

<body>
    <div class="form">

        <ul class="tab-group">
            <li class="tab active"><a href="#signup">注册</a></li>
            <li class="tab"><a href="#login">登录</a></li>
        </ul>

        <div class="tab-content">
            <div id="signup">
                <h1>Sign Up for Free</h1>

                <form id="user_reg" action="/user/register" method="post" onsubmit="return register()">
                    <div class="field-wrap">
                        <label>
                            用户名<span class="req">*</span>
                        </label>
                        <input type="text" name="username" required autocomplete="off" />
                    </div>
                    <div class="field-wrap">
                        <label>
                            邮箱<span class="req">*</span>
                        </label>
                        <input type="email" name="email" required autocomplete="off" />
                    </div>

                    <div class="field-wrap">
                        <label>
                            密码<span class="req">*</span>
                        </label>
                        <input type="password" name="password" required autocomplete="off" />
                    </div>

                    <button type="submit" class="button button-block" />注册</button>

                </form>

            </div>

            <div id="login">
                <h1>Welcome Back!</h1>

                <form action="/user/login" method="post" id="user_login" onsubmit="return login();">

                    <div class="field-wrap">
                        <label>
                            用户名<span class="req">*</span>
                        </label>
                        <input type="text" name="username"  autocomplete="off" />
                    </div>

                    <div class="field-wrap">
                        <label>
                            密码<span class="req">*</span>
                        </label>
                        <input type="password" name="password"  autocomplete="off" />
                    </div>

                    <p class="forgot"><a href="#">忘记密码?</a></p>

                    <button class="button button-block" />登录</button>

                </form>

            </div>

        </div><!-- tab-content -->

    </div>
    <script>
$('.tab a').on('click', function (e) {

    e.preventDefault();

    $(this).parent().addClass('active');
    $(this).parent().siblings().removeClass('active');

    target = $(this).attr('href');

    $('.tab-content > div').not(target).hide();

    $(target).fadeIn(600);

});

function register(e) {

    var username = $("#user_reg input[name='username']").val()
    var password = $("#user_reg input[name='password']").val()
    var email = $("#user_reg input[name='email']").val()
    if(!username || !password || !email) {
        alert('参数不全')
        return false
    }

    $.post('/user/register', {
        username: username,
        password: password,
        email: email
    })
    .then(res => {
        alert(res.message)
        if(res.status == 200) {
            window.location.href = '/user/login#login'
        }
    })
    return false
}

function login(e){
    var username = $("#user_login input[name='username']").val()
    var password = $("#user_login input[name='password']").val()

    if(!username || !password) {
        alert(`请输入用户名或密码`)
        return false
    }

    $.post('/user/login',{
        username: username,
        password: password
    })
    .then(res => {
        alert(res.message)
        if(res.status !== 200) {
            return false
        }
        window.location.href = '/'
    })
    return false
}

    </script>
</body>

</html>